@theme {
  --color-nadeshiko: #dc9fb4; /* 撫子 */
  --color-kohbai: #e16b8c; /* 紅梅 */
  --color-suoh: #8e354a; /* 蘇芳 */
  --color-taikoh: #f8c3cd; /* 退紅 */
  --color-ikkonzome: #f4a7b9; /* 一斥染 */
  --color-kuwazome: #64363c; /* 桑染 */
  --color-momo: #f596aa; /* 桃 */
  --color-ichigo: #b5495b; /* 苺 */
  --color-usubeni: #e87a90; /* 薄紅 */
  --color-imayoh: #d05a6e; /* 今様 */
  --color-nakabeni: #db4d6d; /* 中紅 */
  --color-sakura: #fedfe1; /* 桜 */
  --color-umenezumi: #9e7a7a; /* 梅鼠 */
  --color-karakurenai: #d0104c; /* 韓紅花 */
  --color-enji: #9f353a; /* 燕脂 */
  --color-kurenai: #cb1b45; /* 紅 */
  --color-toki: #eea9a9; /* 鴇 */
  --color-cyohsyun: #bf6766; /* 長春 */
  --color-kokiake: #86473f; /* 深緋 */
  --color-sakuranezumi: #b19693; /* 桜鼠 */
  --color-jinzamomi: #eb7a77; /* 甚三紅 */
  --color-azuki: #954a45; /* 小豆 */
  --color-suohkoh: #a96360; /* 蘇芳香 */
  --color-akabeni: #cb4042; /* 赤紅 */
  --color-shinsyu: #ab3b3a; /* 真朱 */
  --color-haizakura: #d7c4bb; /* 灰桜 */
  --color-kuriume: #904840; /* 栗梅 */
  --color-ebicha: #734338; /* 海老茶 */
  --color-ginsyu: #c73e3a; /* 銀朱 */
  --color-kurotobi: #554236; /* 黒鳶 */
  --color-benitobi: #994639; /* 紅鳶 */
  --color-akebono: #f19483; /* 曙 */
  --color-benikaba: #b54434; /* 紅樺 */
  --color-mizugaki: #b9887d; /* 水がき */
  --color-sangosyu: #f17c67; /* 珊瑚朱 */
  --color-benihiwada: #884c3a; /* 紅檜皮 */
  --color-syojyohi: #e83015; /* 猩猩緋 */
  --color-entan: #d75455; /* 鉛丹 */
  --color-shikancha: #b55d4c; /* 芝翫茶 */
  --color-hiwada: #854836; /* 檜皮 */
  --color-kakishibu: #a35e47; /* 柿渋 */
  --color-ake: #cc543a; /* 緋 */
  --color-tobi: #724832; /* 鳶 */
  --color-benihi: #f75c2f; /* 紅緋 */
  --color-kurikawacha: #6a4028; /* 栗皮茶 */
  --color-bengara: #9a5034; /* 弁柄 */
  --color-terigaki: #c46243; /* 照柿 */
  --color-edocha: #af5f3c; /* 江戸茶 */
  --color-araisyu: #fb966e; /* 洗朱 */
  --color-momoshiocha: #724938; /* 百塩茶 */
  --color-karacha: #b47157; /* 唐茶 */
  --color-tokigaracha: #db8e71; /* ときがら茶 */
  --color-ohni: #f05e1c; /* 黄丹 */
  --color-sohi: #ed784a; /* 纁 */
  --color-ensyucha: #ca7853; /* 遠州茶 */
  --color-kabacha: #b35c37; /* 樺茶 */
  --color-kogecha: #563f2e; /* 焦茶 */
  --color-akakoh: #e3916e; /* 赤香 */
  --color-suzumecha: #8f5a3c; /* 雀茶 */
  --color-shishi: #f0a986; /* 宍 */
  --color-sodenkaracha: #a0674b; /* 宗伝唐茶 */
  --color-kaba: #c1693c; /* 樺 */
  --color-kokikuchinashi: #fb9966; /* 深支子 */
  --color-kurumi: #947a6d; /* 胡桃 */
  --color-taisya: #a36336; /* 代赭 */
  --color-araigaki: #e79460; /* 洗柿 */
  --color-kohrozen: #7d532c; /* 黄櫨染 */
  --color-akakuchiba: #c78550; /* 赤朽葉 */
  --color-tonocha: #985f2a; /* 礪茶 */
  --color-akashirotsurubami: #e1a679; /* 赤白橡 */
  --color-sencha: #855b32; /* 煎茶 */
  --color-kanzo: #fc9f4d; /* 萱草 */
  --color-sharegaki: #ffba84; /* 洒落柿 */
  --color-beniukon: #e98b2a; /* 紅鬱金 */
  --color-umezome: #e9a368; /* 梅染 */
  --color-biwacha: #b17844; /* 枇杷茶 */
  --color-chojicha: #96632e; /* 丁子茶 */
  --color-kenpohzome: #43341b; /* 憲法染 */
  --color-kohaku: #ca7a2c; /* 琥珀 */
  --color-usugaki: #ecb88a; /* 薄柿 */
  --color-kyara: #78552b; /* 伽羅 */
  --color-chojizome: #b07736; /* 丁子染 */
  --color-fushizome: #967249; /* 柴染 */
  --color-kuchiba: #e2943b; /* 朽葉 */
  --color-kincha: #c7802d; /* 金茶 */
  --color-kitsune: #9b6e23; /* 狐 */
  --color-susutake: #6e552f; /* 煤竹 */
  --color-usukoh: #ebb471; /* 薄香 */
  --color-tonoko: #d7b98e; /* 砥粉 */
  --color-ginsusutake: #82663a; /* 銀煤竹 */
  --color-ohdo: #b68e55; /* 黄土 */
  --color-shiracha: #bc9f77; /* 白茶 */
  --color-kobicha: #876633; /* 媚茶 */
  --color-kigaracha: #c18a26; /* 黄唐茶 */
  --color-yamabuki: #ffb11b; /* 山吹 */
  --color-yamabukicha: #d19826; /* 山吹茶 */
  --color-hajizome: #dda52d; /* 櫨染 */
  --color-kuwacha: #c99833; /* 桑茶 */
  --color-tamago: #f9bf45; /* 玉子 */
  --color-shirotsurubami: #dcb879; /* 白橡 */
  --color-kitsurubami: #ba9132; /* 黄橡 */
  --color-tamamorokoshi: #e8b647; /* 玉蜀黍 */
  --color-hanaba: #f7c242; /* 花葉 */
  --color-namakabe: #7d6c46; /* 生壁 */
  --color-torinoko: #dac9a6; /* 鳥の子 */
  --color-usuki: #fad689; /* 浅黄 */
  --color-kikuchiba: #d9ab42; /* 黄朽葉 */
  --color-kuchinashi: #f6c555; /* 梔子 */
  --color-tohoh: #ffc408; /* 籐黄 */
  --color-ukon: #efbb24; /* 鬱金 */
  --color-karashi: #caad5f; /* 芥子 */
  --color-higosusutake: #8d742a; /* 肥後煤竹 */
  --color-rikyushiracha: #b4a582; /* 利休白茶 */
  --color-aku: #877f6c; /* 灰汁 */
  --color-rikyucha: #897d55; /* 利休茶 */
  --color-rokohcha: #74673e; /* 路考茶 */
  --color-nataneyu: #a28c37; /* 菜種油 */
  --color-uguisucha: #6c6024; /* 鶯茶 */
  --color-kimirucha: #867835; /* 黄海松茶 */
  --color-mirucha: #62592c; /* 海松茶 */
  --color-kariyasu: #e9cd4c; /* 刈安 */
  --color-nanohana: #f7d94c; /* 菜の花 */
  --color-kihada: #fbe251; /* 黄蘗 */
  --color-mushikuri: #d9cd90; /* 蒸栗 */
  --color-aokuchiba: #ada142; /* 青朽葉 */
  --color-ominaeshi: #ddd23b; /* 女郎花 */
  --color-hiwacha: #a5a051; /* 鶸茶 */
  --color-hiwa: #bec23f; /* 鶸 */
  --color-uguisu: #6c6a2d; /* 鶯 */
  --color-yanagicha: #939650; /* 柳茶 */
  --color-koke: #838a2d; /* 苔 */
  --color-kikujin: #b1b479; /* 麹塵 */
  --color-rikancha: #616138; /* 璃寛茶 */
  --color-aikobicha: #4b4e2a; /* 藍媚茶 */
  --color-miru: #5b622e; /* 海松 */
  --color-sensaicha: #4d5139; /* 千歳茶 */
  --color-baikocha: #89916b; /* 梅幸茶 */
  --color-hiwamoegi: #90b44b; /* 鶸萌黄 */
  --color-yanagizome: #91ad70; /* 柳染 */
  --color-urayanagi: #b5caa0; /* 裏柳 */
  --color-iwaicha: #646a58; /* 岩井茶 */
  --color-moegi: #7ba23f; /* 萌黄 */
  --color-nae: #86c166; /* 苗 */
  --color-yanagisusutake: #4a593d; /* 柳煤竹 */
  --color-matsuba: #42602d; /* 松葉 */
  --color-aoni: #516e41; /* 青丹 */
  --color-usuao: #91b493; /* 薄青 */
  --color-yanaginezumi: #808f7c; /* 柳鼠 */
  --color-tokiwa: #1b813e; /* 常磐 */
  --color-wakatake: #5dac81; /* 若竹 */
  --color-chitosemidori: #36563c; /* 千歳緑 */
  --color-midori: #227d51; /* 緑 */
  --color-byakuroku: #a8d8b9; /* 白緑 */
  --color-oitake: #6a8372; /* 老竹 */
  --color-tokusa: #2d6d4b; /* 木賊 */
  --color-onandocha: #465d4c; /* 御納戸茶 */
  --color-rokusyoh: #24936e; /* 緑青 */
  --color-sabiseiji: #86a697; /* 錆青磁 */
  --color-aotake: #00896c; /* 青竹 */
  --color-veludo: #096148; /* ビロード */
  --color-mushiao: #20604f; /* 虫襖 */
  --color-aimirucha: #0f4c3a; /* 藍海松茶 */
  --color-tonocha2: #4f726c; /* 沈香茶 */
  --color-aomidori: #00aa90; /* 青緑 */
  --color-seiji: #69b0ac; /* 青磁 */
  --color-tetsu: #26453d; /* 鉄 */
  --color-mizuasagi: #66bab7; /* 水浅葱 */
  --color-seiheki: #268785; /* 青碧 */
  --color-sabitetsuonando: #405b55; /* 錆鉄御納戸 */
  --color-korainando: #305a56; /* 高麗納戸 */
  --color-byakugun: #78c2c4; /* 白群 */
  --color-omeshicha: #376b6d; /* 御召茶 */
  --color-kamenozoki: #a5dee4; /* 瓶覗 */
  --color-fukagawanezumi: #77969a; /* 深川鼠 */
  --color-sabiasagi: #6699a1; /* 錆浅葱 */
  --color-mizu: #81c7d4; /* 水 */
  --color-asagi: #33a6b8; /* 浅葱 */
  --color-onando: #0c4842; /* 御納戸 */
  --color-ai: #0d5661; /* 藍 */
  --color-shinbashi: #0089a7; /* 新橋 */
  --color-sabionando: #336774; /* 錆御納戸 */
  --color-tetsuonando: #255359; /* 鉄御納戸 */
  --color-hanaasagi: #1e88a8; /* 花浅葱 */
  --color-ainezumi: #566c73; /* 藍鼠 */
  --color-masuhana: #577c8a; /* 舛花 */
  --color-sora: #58b2dc; /* 空 */
  --color-noshimehana: #2b5f75; /* 熨斗目花 */
  --color-chigusa: #3a8fb7; /* 千草 */
  --color-omeshionando: #2e5c6e; /* 御召御納戸 */
  --color-hanada: #006284; /* 縹 */
  --color-wasurenagusa: #7db9de; /* 勿忘草 */
  --color-gunjyo: #51a8dd; /* 群青 */
  --color-tsuyukusa: #2ea9df; /* 露草 */
  --color-kurotsurubami: #0b1013; /* 黒橡 */
  --color-kon: #0f2540; /* 紺 */
  --color-kachi: #08192d; /* 褐 */
  --color-ruri: #005caf; /* 瑠璃 */
  --color-rurikon: #0b346e; /* 瑠璃紺 */
  --color-benimidori: #7b90d2; /* 紅碧 */
  --color-fujinezumi: #6e75a4; /* 藤鼠 */
  --color-tetsukon: #261e47; /* 鉄紺 */
  --color-konjyo: #113285; /* 紺青 */
  --color-benikakehana: #4e4f97; /* 紅掛花 */
  --color-konkikyo: #211e55; /* 紺桔梗 */
  --color-fuji: #8b81c3; /* 藤 */
  --color-futaai: #70649a; /* 二藍 */
  --color-ouchi: #9b90c2; /* 楝 */
  --color-fujimurasaki: #8a6bbe; /* 藤紫 */
  --color-kikyo: #6a4c9c; /* 桔梗 */
  --color-shion: #8f77b5; /* 紫苑 */
  --color-messhi: #533d5b; /* 滅紫 */
  --color-usu: #b28fce; /* 薄 */
  --color-hashita: #986db2; /* 半 */
  --color-edomurasaki: #77428d; /* 江戸紫 */
  --color-shikon: #3c2f41; /* 紫紺 */
  --color-kokimurasaki: #4a225d; /* 深紫 */
  --color-sumire: #66327c; /* 菫 */
  --color-murasaki: #592c63; /* 紫 */
  --color-ayame: #6f3381; /* 菖蒲 */
  --color-fujisusutake: #574c57; /* 藤煤竹 */
  --color-benifuji: #b481bb; /* 紅藤 */
  --color-kurobeni: #3f2b36; /* 黒紅 */
  --color-nasukon: #572a3f; /* 茄子紺 */
  --color-budohnezumi: #5e3d50; /* 葡萄鼠 */
  --color-hatobanezumi: #72636e; /* 鳩羽鼠 */
  --color-kakitsubata: #622954; /* 杜若 */
  --color-ebizome: #6d2e5b; /* 蒲葡 */
  --color-botan: #c1328e; /* 牡丹 */
  --color-umemurasaki: #a8497a; /* 梅紫 */
  --color-nisemurasaki: #562e37; /* 似紫 */
  --color-tsutsuji: #e03c8a; /* 躑躅 */
  --color-murasakitobi: #60373e; /* 紫鳶 */
  --color-shironeri: #fcfaf2; /* 白練 */
  --color-gofun: #fffffb; /* 胡粉 */
  --color-shironezumi: #bdc0ba; /* 白鼠 */
  --color-ginnezumi: #91989f; /* 銀鼠 */
  --color-namari: #787878; /* 鉛 */
  --color-hai: #828282; /* 灰 */
  --color-sunezumi: #787d7b; /* 素鼠 */
  --color-rikyunezumi: #707c74; /* 利休鼠 */
  --color-nibi: #656765; /* 鈍 */
  --color-aonibi: #535953; /* 青鈍 */
  --color-dobunezumi: #4f4f48; /* 溝鼠 */
  --color-benikeshinezumi: #52433d; /* 紅消鼠 */
  --color-aisumicha: #373c38; /* 藍墨茶 */
  --color-binrojizome: #3a3226; /* 檳榔子染 */
  --color-keshizumi: #434343; /* 消炭 */
  --color-sumi: #1c1c1c; /* 墨 */
  --color-kuro: #080808; /* 黒 */
  --color-ro: #0c0c0c; /* 呂 */
}
